<?xml version="1.0"?>
<!-- CheckStyle 3.4 template configuration file @author Oleg Estehin -->

<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">
	<module name="NewlineAtEndOfFile" />

	<module name="TreeWalker">
	
		<!-- Check for TODO comments -->
		<module name="TodoComment" />
		
		<!-- Check for Long constants to have a L at the end -->
		<module name="UpperEll" />
		
		<!-- Check to have Java style arrays -->
		<module name="ArrayTypeStyle"/>
		
		<!-- Formatter check -->
		<module name="Indentation"/>
	</module>
</module>
